Email validation question

Hi client just came to me saying that the validation is not working...

I did the test here : http://wet-boew.github.io/v4.0-ci/demos/formvalid/formvalid-en.html#email1

start typing test
Error 1: Please enter a valid email address.
add the @ 
still Error 1: Please enter a valid email address.
add 1 letter in my case is a s ...

it's now validating...

From the source code on the unmin version... 
js/deps/jquery.validate.js

```js
// http://jqueryvalidation.org/email-method/
		email: function( value, element ) {

			// From https://html.spec.whatwg.org/multipage/forms.html#valid-e-mail-address
			// Retrieved 2014-01-14
			// If you have a problem with this implementation, report a bug against the above spec
			// Or use custom methods to implement your own email validation
			return this.optional( element ) || /^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/.test( value );
		},
```
Went to the site whatwg.com and saw something different for the email validation... 
https://html.spec.whatwg.org/multipage/forms.html#valid-e-mail-address

> A valid e-mail address is a string that matches the email production of the following ABNF, the character set for which is Unicode. This ABNF implements the extensions described in RFC 1123. [ABNF] [RFC5322] [RFC1034] [RFC1123]
> 
> email         = 1*( atext / "." ) "@" label *( "." label )


So why an email is validating when i think i'm seeing a . after the @ ...  ?

Do we need to change what we have and replace it with the line for email??


Note that the RegEx on the WHATWG is the same as used here

thanks @nschonni but why are we saying it's a valid email when it's not ... can someone fix the regex in order to have zz@zz.zz as a valid email

That is a request you have to make with: https://github.com/jquery-validation/jquery-validation

WET should never change third party scripts. The only other option is for you to overwrite the method with your own custom method.

If you want to know how to customize the plugin/override an existing method look at: https://github.com/wet-boew/wet-boew/issues/7690#issuecomment-253100290

Why bother ...
https://github.com/jquery-validation/jquery-validation/pull/1812 

Will have to do it this way ... https://jqueryvalidation.org/jQuery.validator.methods/

But we should for GCWEB and fegc fix it ... 

As I said you'll just have to create a custom method.

As I said you'll just have to create a custom method. I'm not sure WET well include custom methods. Maybe something to discuss in future. But if WET was to include custom methods I think they should go on a separate repository.

@duboisp @LaurentGoderre Thoughts?

@masterbee and @MaximMartel  what do you think about that?

Having the GCWeb forcing to valide a valid email.

@crochefort I don't get an error on the demos in Chrome with `zz@zz.zz`, can you provide an actual failure case?

I know ... it's now an error but if I wrote 
me@canada

it will be a valid email address...
but my real email address is 

me@canada.ca

You see the difference ... the actual validation don't count the .ca

so basically ... me@localhost is a valid email addres for our form! ...

> IMPORTANT NOTE ABOUT EMAIL VALIDATION. As of version 1.12.0 this plugin is using the same regular expression that the HTML5 specification suggests for browsers to use. We will follow their lead and use the same check. If you think the specification is wrong, please report the issue to them. If you have different requirements, consider using a custom method. In case you need to adjust the built-in validation regular expression patterns, please follow the documentation. - [jQuery Validation Group](https://github.com/jquery-validation/jquery-validation/blob/1c3ac419ad1e0093532b31f2f2b59a95e1db0fee/README.md)

I had [previously suggested](https://github.com/wet-boew/wet-boew/issues/6901#issuecomment-117167461) that "known limitations" be documented somewhere.  This sounds like something that could be added.

Can we add a custom method to the plugin as suggested by the Validation Group, which can be accessed through an optional data-wb attribute?
@duboisp @xiayitan 